*.dyn_hi
*.hi
*.dyn_o
TAGS
*~
*.o
*.txt
/Application/PVP2LibLinear/model
/Application/PVP2LibLinear/test
/Application/PVP2LibLinear/train
*.pvp
Application/PVPAnalysis/main
*.out
*.dat
/Application/GMM/plotWeight
/Application/GMM/trainGMM
Application/GMM/Weight
/Application/GMM/PlotWeight.hs
*.png
*.bin
*.h5
*.mdb
.cabal-sandbox
cabal.sandbox.config
*binaryproto
run*
\#*
.\#*
image2LMDB
image2LMDBFull
main
mainValidate
pvp2hdf5
sizeTest
*_model
generate*
plot*
convert*
train*
predict
model*
*.bak
octave-workspace
*.tgz
make*
Application/Amoeba/test
